@tailwind base;
@tailwind components;
@tailwind utilities;

/* ABC Ginto Nord Bold */
@font-face {
    font-family: 'ABCGintoNord';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('/fonts/ABCGintoNord-Bold-Trial-BF651b7b71a7e37.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ABC Ginto Normal Medium */
@font-face {
    font-family: 'ABCGintoMedium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/ABCGintoNormal-Medium-Trial-BF651b7b7332bb4.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ABC Ginto Nord  Regular */
@font-face {
    font-family: 'ABCGintoNormal';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/ABCGintoNormal-Regular-Trial-BF651b7b7389896.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


:root {
    --font-size-h1: clamp(3.5rem, 2vw + 1rem, 5rem);
    --font-size-h2: clamp(2.4rem, 2vw + 1rem, 3.5rem);
    --font-size-h3: clamp(1.85rem, 1vw + 1rem, 3rem);
    --font-size-h4: clamp(1.8rem, 1vw + 1rem, 2.2rem);
    --font-size-h5: clamp(1.6rem, 1vw + 1rem, 2.2rem);
    --font-size-p: clamp(1.1rem, 1vw + 1rem, 1.3rem);
    background-color: #F2F4F4;
}



.bold-p{
    font-family: 'ABCGintoMedium', sans-serif !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'ABCGintoNord', sans-serif !important;
    color: black;
}

p,a {
    font-family: 'ABCGintoNormal', sans-serif;
    color: black;
} 



h1 {
    font-size: var(--font-size-h1);
  }
  
  h2 {
    font-size: var(--font-size-h2);
  }
  
  h3 {
    font-size: var(--font-size-h3);
  }
  
  h4 {
    font-size: var(--font-size-h4);
  }
  
  h5 {
    font-size: var(--font-size-h5);
  }
  
  /* Paragraph Style */
  p {
    font-size: var(--font-size-p);
    line-height: 1.7rem;
  }
  
  a {
    font-size: var(--font-size-p);
    line-height: 1.7rem;
  }